@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: 'tablet-gothic', 'tablet-gothic-condensed', var(--font-family);
    font-display: swap;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

.tweak-global-animations-animation-type-flex a:not([data-event='no effect']):after {
  content: '';
  height: 1px;
  bottom: .1em;
  transform-origin: right;
  transition: transform .6s cubic-bezier(.19,1,.22,1);
  @apply absolute w-full left-0 scale-x-0 bg-current;
}

.tweak-global-animations-animation-type-flex a:not([data-event='no effect'])hover::after {
  transform: scalex(1);
  transform-origin: left;
}

.circle-sketch-highlight {
  @apply relative
}

.circle-sketch-highlight:after {
  content: "";
  left: -.2em;
  top: .24em;
  padding: .1em .25em;
  /* border-left-color: transparent;
  border-top-color: transparent; */
  height: 1em;
  transform: rotate(-1deg);
  border-radius: 50%;
  @apply border-2 z-[1] border-[--text-truth-tellers-marked] border-t-transparent border-l-transparent absolute w-full opacity-100
}

.circle-sketch-highlight:before {
  content: "";
  left: -.2em;
  top: .2em;
  /* border-right-color: transparent; */
  height: 1em;
  transform: rotate(2deg);
  border-radius: 50%;
  padding: .1em .25em;
  @apply border-2 z-[1] border-[--text-truth-tellers-marked] border-r-transparent absolute w-full opacity-100
}

.showInDisplay-transition {
  animation: showInDisplay 200ms ease-in;
}

@keyframes showInDisplay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}

.font-size-responsive-subtitle {
  @apply text-lg;
}

.font-size-responsive-title {
  line-height: calc(1.4em * (1 + (1 - 1.8)/25));
  @apply text-[30px];
}

.font-size-responsive-body {
  @apply text-sm;
}

@media (min-width: 728px) and (max-width: 2000px) {
  .font-size-responsive-title {
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    line-height: calc(1.4em * (1 + (1 - 1.8)/25));
  }

  .font-size-responsive-subtitle {
    font-size: calc((1.8 - 1) * 1.2vw + 1rem);
    line-height: calc(1.4em * (1 + (1 - 1.8)/25));
  }

  .font-size-responsive-description {
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    line-height: calc(1.4em * (1 + (1 - 1.4)/25));
  }

  .font-size-responsive-body {
    font-size: calc((1 - 1) * 1.2vw + 1rem);
  }
}

.replace-title .description, .replace-title .title-with-hover {
  @apply hidden;
}

.replace-title:hover .description, .replace-title:hover .title-with-hover {
  @apply block;
}

.replace-title:hover .title-without-hover {
  @apply hidden;
}

.button-cubic {
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1) color;
  @apply scale-y-100 relative
}

.button-cubic::before {
  content: '';
  z-index: -1;
  clip-path: polygon(-2% 102%, 102% 102%, 102% 102%, -2% 102%);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1) clip-path;
  transform: translateZ(0);
  inset: calc(-1 * var(--tertiary-button-stroke));
  @apply absolute bottom-0 left-0 right-0 top-0 border-2
}

.button-cubic:hover {
  @apply opacity-100;
}
.button-cubic:hover::before {
  clip-path: polygon(-2% -2%, 102% -2%, 102% 102%, -2% 102%);
}