@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-display: swap;
    font-family: 'tablet-gothic'
    /* 'tablet-gothic', 'tablet-gothic-condensed', var(--font-family); */
  }

  .warnock-pro {
    font-family: 'warnock-pro', 'sans-serif';
    font-display: swap;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #E4E4E7;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

/* .tweak-global-animations-animation-type-flex a:not([data-event='no effect']):after {
  content: '';
  height: 1px;
  bottom: .1em;
  transform-origin: right;
  transition: transform .6s cubic-bezier(.19,1,.22,1);
  @apply absolute w-full left-0 scale-x-0 bg-current; */
/* } */

.tweak-global-animations-animation-type-flex a:not([data-event='no effect'])hover::after {
  transform: scalex(1);
  transform-origin: left;
}

.circle-sketch-highlight {
  @apply relative inline-block
}

.circle-sketch-highlight:after {
  content: "";
  left: -.2em;
  top: .24em;
  padding: .2em 1.25em 1em;
  /* border-left-color: transparent;
  border-top-color: transparent; */
  height: 1em;
  transform: rotate(-1deg);
  border-radius: 50%;
  @apply border-2 z-[1] border-[--text-truth-tellers-marked] border-t-transparent border-l-transparent absolute w-full opacity-100
}

.circle-sketch-highlight:before {
  content: "";
  left: -.2em;
  top: .2em;
  /* border-right-color: transparent; */
  height: 1em;
  transform: rotate(2deg);
  border-radius: 50%;
  padding: .2em 1.25em 1em;
  @apply border-2 z-[1] border-[--text-truth-tellers-marked] border-r-transparent absolute w-full opacity-100
}

.showInDisplay-transition {
  animation: showInDisplay 200ms ease-in;
}

.opacityEvent {
  opacity: 0;
  transition: opacity 200ms;
}

.opacityEvent.show {
  opacity: 1;
}

@keyframes showInDisplay {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.font-size-responsive-subtitle {
  @apply text-lg;
}

.font-size-responsive-principal {
  line-height: calc(1.4em * (1 + (1 - 1.8)/25));
  @apply text-[40px];
}

.font-size-responsive-title {
  line-height: calc(1.2em * (1 + (1 - 1.8)/25));
  @apply text-[30px];
}

.font-size-responsive-body {
  @apply text-xs;
}

.font-size-navigation {
  @apply text-sm
}

@media (min-width: 728px) and (max-width: 2000px) {
  .font-size-responsive-principal {
    font-size: calc((4.6 - 1) * 1.2vw + 12px);
    line-height: calc(1.15em * (1 + (1 - 1.8)/25));
  }
  .font-size-responsive-title {
    font-size: calc((3 - 1) * 1.2vw + 12px);
    line-height: calc(1.4em * (1 + (1 - 1.8)/25));
  }

  .font-size-responsive-subtitle {
    font-size: calc((1.8 - 1) * 1.2vw + 12px);
    line-height: calc(1.4em * (1 + (1 - 1.8)/25));
  }

  .font-size-responsive-description {
    font-size: calc((1.3 - 1) * 1.2vw + 12px);
    line-height: calc(1.4em * (1 + (1 - 1.4)/25));
  }

  .font-size-responsive-body {
    font-size: calc((1 - 1) * 1.2vw + 12px);
  }

  .font-size-navigation {
    font-size: calc((1.2 - 1) * 1.2vw + 12px);
  }
}

.replace-title .description, .replace-title .title-with-hover {
  @apply hidden;
}

.replace-title:hover .description, .replace-title:hover .title-with-hover {
  @apply block;
}

.replace-title:hover .title-without-hover {
  @apply hidden;
}

.button-cubic {
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1) color;
  @apply scale-y-100 relative
}

.button-cubic::before {
  content: '';
  z-index: -1;
  clip-path: polygon(-2% 102%, 102% 102%, 102% 102%, -2% 102%);
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1) clip-path;
  transform: translateZ(0);
  inset: calc(-1 * var(--tertiary-button-stroke));
  @apply absolute bottom-0 left-0 right-0 top-0 border-2
}

.button-cubic:hover {
  @apply opacity-100;
  }
.button-cubic:hover::before {
  clip-path: polygon(-2% -2%, 102% -2%, 102% 102%, -2% 102%);
}

.spacing-1px {
  letter-spacing: -0.5px;
}

.-spacing-2px {
  letter-spacing: -2.5px;
}

.tweak-global-animations-animation-type-flex .marked-linked:hover::after {
  transform: scalex(1);
}

.evento_de_borda_corra {
  position: relative;
  display: inline-block;
}

.evento_de_borda_corra::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #393939;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.evento_de_borda_corra:hover::after {
  width: 100%;
}

.evento_de_borda_corra.retrair-para-direita::after {
  left: 100%;
  width: 0;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.evento_de_borda_corra:active::before {
  width: 0;
  transition: width 0.5s ease-in-out;
}

.retrair-para-direita-container .evento_de_borda_corra::after {
  left: 100%;
  width: 0;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.seta-o-fill-do-svg {
  stroke: #E25545;
  fill: #E25545;
  color: #E25545;
}

.seta-a-cor-do-stop-svg {
  stroke: #E25545;
  fill: #E25545;
  color: #E25545;
}

.seta-o-fill-do-svg:hover {
  stroke: #FFF;
  fill: #FFF;
  color: #FFF;
}

.seta-a-cor-do-stop-svg:hover {
  stroke: #FFF;
  fill: #FFF;
  color: #FFF;
}

.border-bottom-svg {
  min-width: 200px;
  text-decoration: none !important;
  background-image: none !important;
  background-repeat: no-repeat;
  /* background-color: #FFF; */
  background-image: linear-gradient(currentColor, currentColor), linear-gradient(currentColor, currentColor);
  background-size: 50% 1px, 50% 1px;
  background-position: 0% bottom, 100% bottom;
  padding: 2px;
  animation: border-bottom-de-correr 0.6s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-direction: reverse;
  @apply opacity-100 text-left relative inline
}


@keyframes border-bottom-de-correr {
  0% {
    background-position: 0% bottom, 100% bottom;
  }

  100% {
    background-position: 200% bottom, 300% bottom;
  }
}

.button-stroke {
  display: block;
  width: calc(97%);
  height: 30px;
  stroke: #e25545;
  fill: #e25545;
  color: #e25545;
  position: absolute;
  left: 0px;
  bottom: -10px;
  stroke-width: 2;
  z-index: 1;
  text-align: left;
  overflow-clip-margin: content-box;
}

.button-stroke-2 {
  stroke-dasharray: 700px;
  stroke-dashoffset: 700px;
  stroke: #fff;
  fill: #fff;
  color: #fff;
  stroke-width: 2;
  transition: stroke-dashoffset 500ms ease-out;
  animation-direction: reverse;
}

.border-bottom-svg:hover .button-stroke-2 {
  stroke-dashoffset: 1;
}